Stefan Jansen - Machine Learning for Algorithmic Trading_ Predictive models to extract signals from market and alternative data for systematic trading strategies with Python, 2nd Edition-Packt Publish.pdf
Sebastien Donadio, Sourav Ghosh - Learn Algorithmic Trading_ Build and deploy algorithmic trading systems and strategies using Python and advanced data analysis-Packt Publishing (2019).pdf